#flash
.panel.panel-default
  .panel-heading
    %h3.panel-title My Favourite Listings
  .panel-body
  
  #favourites
    = render 'listings/listed_item', listings: @favourite_listings
    //= render 'favourites_table'
  .panel-footer
    = link_to 'Go Back', :back, class: 'btn btn-default'