#flash
.panel.panel-default
  .panel-heading
    %h3.panel-title My Favourite Listings
  .panel-body
  
  #favourites
    = render partial: 'listings/listed_item', collection: @favourite_listings
  .panel-footer
    = link_to 'Go Back', :back, class: 'btn btn-default'