#flash
.panel.panel-default
  .panel-heading
    %h3.panel-title My Favorite Listings
  .panel-body

  %table.table

    %tbody#favourites-table
      = render 'listings/listed_item', listings: @favourite_listings
  .panel-footer
    = link_to 'Go Back', :back, class: 'btn btn-default'