#flash
.panel.panel-default
  - if @favourite_listings.size == 0
    .row.flex-column.justify-content-center.align-items-center.text-center.h-100
      %h1
        You have not favourited an item yet
      %h4 Go to the listings page to add to your favourites!
      = link_to root_path do
        %button.btn.btn-outline-primary.text-medium{type: "primary"}
          See Listings
  - else
    .panel-heading
      %h3.panel-title My Favourite Listings
    .panel-body
      #favourites
        = render partial: 'listings/listed_item', collection: @favourite_listings