.panel.panel-default
  .panel-heading
    %h3.panel-title Listings
  .panel-body
    %p There are #{@listings.size} listings available.

  %table.table
    %thead
      %tr
        %th Title
        %th Description
        %th Price
        %th Creator
        %th Receiver
        %th Category
        %th Condition
        %th Status

    %tbody#listings-table
      = render 'listings_table'
  .panel-footer
    = link_to 'New Listing', new_listing_path, class: 'btn btn-default'
