- if current_user.conversations.empty?
  .empty-conversation-container.card.h-100
    .text-center
      %h3.empty-conversation-header You Do Not Have Any Active Conversations
- else
  .empty-conversation-container.card.h-100
    .text-center
      %h3.empty-conversation-header Click On A Conversation To View