#admin-form.w-100
  = simple_form_for(:banned_words, url: other_path, remote: true) do |f|
    = f.error_notification

    .form-inputs
      = f.input :content, label: false, as: :select, collection: @banned_words, selected: @banned_words, input_html: { class: 'select2', multiple: true }
    .form-actions.text-center
      = f.button :button, class: 'btn-primary btn-md edit-btn' do
        Save changes