#admin-form.w-100
  = simple_form_for(:bulk_email, url: other_path) do |f|
    = f.error_notification

    .form-inputs
      = f.input :content, label: false, placeholder: 'Type a message here...', as: :text, input_html: { rows: 5 }
    .form-actions.row
      = f.button :button, class: 'btn-secondary col-6 offset-3 col-lg-4 offset-lg-4' do
        Send