.row.justify-content-left.flex-column-reverse.flex-md-row
  .col-12.col-md-12.listing-container
    .border-none.rounded.h-100
      .row.p-0
        .col-12.col-sm-3.pl-0.text-left.listing-image-container-sm.text-black.text-large.pt-1
          =image_tag "/images/logos/su.png"

        .row.justify-content-left.flex-column-rev.flex-md-row
          .col-12.col-md-12.pl-0.text-left.pt-1
            .col-12.col-md-12
              .text-small.text-darkgray.text-left
                Item Name 
                acc19pm 

            .col-12.col-md-12.pl-0.text-left.report-container  
              .text-small.text-darkgray.pt-2
                Reason: Inapropriate word used

        .col-12.col-sm-3.p-0.pt-2
          .text-small.text-center.text-blue.listing-blue.rounded
            See Details
          %p
          .text-small.text-center.btn-primary.rounded.text-white
            Moderate 
          