%tr
  %td{style: "border-right: 1px solid #000;"} #{category}
  %td.text-right{style: "border-right: 1px solid #000;"} #{monthly}
  %td.text-right{style: "border-right: 1px solid #000;"} #{weekly}
  %td.text-right #{all_time}