%tr.w-100
  %td.text-center.p-3.w-auto
    acc19pm
  %td.text-center.p-3.w-auto
    Patrick Mithi
  %td.text-center.p-0.w-auto
    = simple_form_for :admin, url: demote_user_path, remote: true, html: { class: 'remove w-100' }  do |f|
      = f.error_notification
      .form-inputs
      .form-actions.pb-3
        = f.submit 'Ban User', class: 'btn btn-sm btn-outline-primary'
        = f.submit 'View Listings', class: 'btn btn-sm btn-outline-secondary'