- content_for :title, 'User View Page'
- if @users.empty?
  .jumbotron.text-center
    %h4
      %strong Currently there are no registered users on the page...
- else
  .row.justify-content-center.flex-column-reverse.flex-md-row
    .col-12.col-md-6
      .text-large
        %strong Users
    .col-12.col-md-6.pt-2
      .text-right.text-medium.text-darkgray
        = link_to "Sort by Name", '/admin/user_view?sort=givenname', sort: "givenname", class: 'text-dark'
  #users
    = render partial: 'user_details', collection: @users, as: :user