- content_for :title, 'User View Page'
.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-6
    .text-large
      %strong Users
  .col-12.col-md-6.pt-2
    .text-right.text-medium.text-darkgray
      = render 'user-filter'
- 5.times do
  = render partial: 'user_details'