#user-listings.modal-dialog.modal-lg
  .modal-content.p-5
    .modal-header
      %h3 User Listings
    - if @user_listings.empty?
      .jumbotron.text-center
        %h4
          %strong This user has not created a listing yet
      = dismiss_modal_button
    - else
      #listings.h-100
        = render partial: 'listings/listing', collection: @user_listings, as: :listing
        .text-center
          = dismiss_modal_button