%div{class: "message #{'me' if message.sender.id == current_user.id}", id: "message-#{message.id}"}
  .content-container
    .content
      = message.content
    - if message.sender.id == current_user.id
      .delete-form
        = render 'conversation_messages/delete_form', message: message
        
