%div{class: "message #{'me' if message.sender == current_user}", id: "message-#{message.id}"}
  .content-container
    .content
      - if message.is_deleted
        - if message.sender == current_user
          This message was deleted
      - else
        = message.content
        .delete-form
          = render 'conversation_messages/delete_form', message: message
        
