-# frozen_string_literal: true
= simple_form_for(message, url: delete_conversation_conversation_message_path(message.conversation, message), data: { confirm: "You are about to delete the following message.\n#{message.content}\nAre you sure?" }, method: :patch, remote: true) do |f|
  .form-actions
    = f.button :submit, "✗", class: "p-0"