- is_buyer = buyer_review.present? ? true : false

-# - if (is_buyer and buyer_review.buyer_rating.present?) or (not is_buyer and seller_review.seller_rating.present?)
%tr.w-100
  %td.text-left.w-auto 
    .question-box.text-darkgray
      - if is_buyer
        %input.rating.text-small{ type: 'hidden', value: buyer_review.buyer_rating, 'data-readonly' => true, 'data-filled' => 'fas fa-star text-gold', 'data-empty' => 'fas fa-star text-gray' }
      - else
        %input.rating.text-small{ type: 'hidden', value: seller_review.seller_rating, 'data-readonly' => true, 'data-filled' => 'fas fa-star text-gold', 'data-empty' => 'fas fa-star text-gray' }
  
  %td.text-left.w-auto 
    .question-box.text-darkgray
      %p{:class => 'pt-2'} 
        - if (is_buyer and  not buyer_review.buyer_comment.present?) or (not is_buyer and not seller_review.seller_comment.present?)
          No comment
        - elsif is_buyer
          = buyer_review.buyer_comment
        - else
          = seller_review.seller_comment
      
  %td.text-left.w-auto
    .question-box.text-darkgray.text-medium.p-4
      = icon('fas', 'user-circle') 
      - if (is_buyer and buyer_review.buyer_anon) or (not is_buyer and seller_review.seller_anon)
        Anonymous
      - elsif is_buyer
        = buyer_review.id 
      
      - else 