%tr.w-100
  %td.text-left.w-auto 
    .question-box.text-darkgray
      - 3.times do
        = icon('fas', 'star', :class =>'text-gold')
      - 2.times do
        = icon('fas', 'star')
      %p{:class => 'pt-2'} Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.
      Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
      tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna.
      Aenean velit odio, elementum in tempus ut, vehicula eu di
      
  %td.text-left.w-auto
    .question-box.text-darkgray.text-medium.p-4
      = icon('fas', 'user-circle') 
      Anonymous
  %td.text-left.w-auto
    .text-medium.text-darkgray.p-4 
      23rd July 2021