- is_buyer = defined?(buyer_review) != nil ? true : false
- puts "\n\n\n"
- puts seller_review.id

%tr.w-100
  %td.text-left.w-auto
    .p-4 
      - if is_buyer
        %input.rating.text-small{ type: 'hidden', value: buyer_review.buyer_rating, 'data-readonly' => true, 'data-filled' => 'fas fa-star text-gold', 'data-empty' => 'fas fa-star text-gray' }
      - else
        %input.rating.text-small{ type: 'hidden', value: seller_review.seller_rating, 'data-readonly' => true, 'data-filled' => 'fas fa-star text-gold', 'data-empty' => 'fas fa-star text-gray' }
  
  %td.text-left.w-auto 
    .text-darkgray.p-4
      %p{:class => 'pt-2'} 
        - if (is_buyer and  not buyer_review.buyer_comment.present?) or (not is_buyer and not seller_review.seller_comment.present?)
          No comment
        - elsif is_buyer
          = buyer_review.buyer_comment
        - else
          = seller_review.seller_comment
      
  %td.text-left.w-auto
    .text-darkgray.text-medium.p-4
      = icon('fas', 'user-circle') 
      - if (is_buyer and buyer_review.buyer_anon) or (not is_buyer and seller_review.seller_anon)
        Anonymous
      - else
        - if is_buyer
          - listing = Listing.find_by_id(buyer_review.listing_id)
        - else 
          - listing = Listing.find_by_id(seller_review.listing_id)
        - user = User.find_by_id(listing.creator_id)
        = user.username