- received_items = Listing.where(receiver_id: current_user.id, listing_status: ListingStatus.find_by(name: 'Complete'))



.row.justify-content-center.flex-column-reverse.flex-md-row.pl-0
  .col-12.col-md-12
    .text-left.text-medium.text-black
      %strong Leave a review

.row.justify-content-center.flex-column-reverse.flex-md-row.pt-3
  .col-12.col-md-12
    .text-left.text-large.text-black
      - if @review_items.present?
        .overflow-auto{style: 'max-height: 600px; overflow-x: hidden !important'}
          = render partial: 'reviewed-item', collection: @review_items, as: :listing
      - else 
        .py-5
          .alert.alert-warning.text-medium.text-center No items to review!

.row.justify-content-center.flex-column-reverse.flex-md-row.pt-5
  .col-12.col-md-8.pt-3
    .text-left.text-medium.text-black
      %strong My reviews

  .col-12.col-md-4.pt-3.pr-4
    .text-right.text-medium.text-darkgray
      = select_tag "review-select", options_for_select([["Received as buyer", 1],["Received as seller", 2]]), :class => 'text-darkgray pt-1 pb-1 pr-3'

.row.justify-content-left.flex-column-reverse.flex-md-row.mx-2.pt-3
  %table.table
    %thead.thead-light.w-100
      %tr
        %th.bg-white.w-auto.pr-5.text-left{scope: "col"} Rating
        %th.bg-white.w-auto.pr-5.text-left{scope: "col"} Comment
        %th.bg-white.w-auto.pr-5.text-left{scope: "col"} From

    %tbody#buyer-reviews{style: 'max-height: 400px; border: none;'}
      - if @received_items_reviews.present?
        = render partial: 'reviews_row', collection: @received_items_reviews, as: :buyer_review
      - else 
        %tr.w-100.mt-4
          %td.w-auto 
          %td.text-center.w-auto
            .alert.alert-warning.p-4
              No buyer reviews 
          %td.w-auto

    %tbody#seller-reviews{style: 'max-height: 400px; border: none; display: none'}
      - if @given_items_reviews.present?
        = render partial: 'reviews_row', collection: @given_items_reviews, as: :seller_review
      - else 
        %tr.w-100.mt-4
          %td.w-auto 
          %td.text-center.w-auto
            .alert.alert-warning.p-4
              No seller reviews
          %td.w-auto
                