.row.justify-content-center.flex-column-reverse.flex-md-row.pl-0
  .col-12.col-md-12
    .text-left.text-medium.text-black
      %strong Leave a Review

.row.justify-content-center.flex-column-reverse.flex-md-row.pt-3
  .col-12.col-md-12
    .text-left.text-large.text-black
      - 4.times do
        =render 'reviewed-item'

.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-8.pt-3
    .text-left.text-medium.text-black
      %strong My Reviews

  .col-12.col-md-4.pt-3.pr-4
    .text-right.text-medium.text-darkgray
      = render 'review-filter'

.row.justify-content-left.flex-column-reverse.flex-md-row.ml-2.mr-2.pt-3
  %table.table
    %thead.thead-light.w-100
      %tr
        %th.bg-white.w-auto.pr-5.text-left{scope: "col"} Feedback
        %th.bg-white.w-auto.pr-5.text-left{scope: "col"} From
        %th.bg-white.w-auto.text-left{scope: "col"} When
    %tbody#questions{style: 'max-height: 400px'}
      - 4.times do
        =render 'reviews_row'
        