%footer#footer.bg-darkgray
  .container
    %p.text-white
      &copy; #{Date.today.year}
      = link_to 'epiGenesys', 'https://www.epigenesys.org.uk', target: '_blank', title: 'Go to the epiGenesys website'