- content_for :title, 'FAQ'

.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-12
    .text-large.text-blue.text-left 
      %strong Frequently Asked Questions 
      = icon('fas', 'question-circle')

.row.justify-content-left.flex-column-reverse.flex-md-row.listing-container
  .col-12.col-md-12
    %br
    #accordion.accordion
      - @questions.each do |content|
        = render 'question', page_content: content
