- content_for :title, 'FAQ'

.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-12
    .text-large.text-blue.text-left 
      %strong Frequently asked Questions 
      = icon('fas', 'question-circle')

.row.justify-content-left.flex-column-reverse.flex-md-row.listing-container
  .col-12.col-md-12
    .border-black.rounded.h-100
      .row.p-2
        .col-12.col-md-11.text-medium-text-black 
          Question#1

        .col-12.col-md-1.text-black.text-center
          = icon('fas', 'angle-down')

  .col-12.col-md-12
    .border-black.rounded.h-100.p-3
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, 
      vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, 
      ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique,
      tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec 
      mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio, 
      elementum in tempus ut, vehicula eu diam. Pellentesque rhoncus aliquam mattis. 
      Ut vulputate eros sed felis sodales nec vulputate justo hendrerit. Vivamus 
      varius pretium ligula, a aliquam odio euismod sit amet. Quisque laoreet sem 
      sit amet orci ullamcorper at ultricies metus viverra. Pellentesque arcu mauris,
      malesuada quis ornare accumsan, blandit sed diam.
