@import 'variables';

.bg-white {
  background-color: $primary-background;
}

.bg-gray {
  background-color: $secondary-background;
}

.bg-darkgray {
  background-color: $tertiary-background;
}

.bg-red {
  background-color: $primary-color;
}

.border-gray {
  border: 1px solid $gray;
}

.borderx-gray {
  border: 1px solid $gray;
  border-top: 0;
  border-bottom: 0;
}