.logo-image-container {
  img {
    max-height: 80px;
  }
}

.listing-image-container {
  img {
    height: 110px;
    width: 125px
  }
}

.listing-image-container-lrg {
  img {
    max-height: 225px;
    max-width: 250px
  }
}

.navbar-brand {
  img {
    height: 2rem;
    width: 2rem;
  }
}

.image-404 {
  img {
    width: 25%;
    height: auto;
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  background-image: none;
}

.carousel-control-next-icon:after
{
  content: '>';
  font-size: 30px;
  color: black;
}

.carousel-control-prev-icon:after {
  content: '<';
  font-size: 30px;
  color: black;
}