@import 'variables';

.listing-container {
  border-top: solid 1px $gray;
}

.listing-price-container, .details-container {
  line-height: 1.0;
}

.listing-price-container, .details-container, .action-container {
  max-height: 210px;
}

.action-container {
  line-height: 18.0;
}

.listing-button {
  line-height: 1.5;

  &:hover {
    text-decoration: none;
  }
}

.listing-description {
  line-height: 1.2em;
  max-height: 15%;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
}