@import 'variables';

html,body {
  height: 100%;
}

body {
  display: flex;
  flex-flow: column;
  height: 100%;

  main {
    flex: 1 1 auto;
  }
}

mark {
  background-color: $higlight-color;
}

#profile-nav {
  border-bottom: none;

  // Scrollable
  overflow-y: hidden;
  overflow-x: auto;
  flex-wrap: nowrap;

  // Hide Scrollbar, should only affect mobile/tablet
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}
#main-nav {
  z-index: 2; 
}

#covid-guidance {
  position: sticky; 
  top: 0px; 
  left: 0px; 
  z-index: 1; 
}

.btn-huge {
  max-height: 94px;
  max-width: 316px;
}

.review-btn {
  max-height: 104px;
  max-width: 187px;
}

.guidance {
  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.guidance-container {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}