.listing-container {
    border-top: solid 2px #e6e6e6;
}

.listing-description-container {
  border-right: solid 1px #e6e6e6;
  line-height: 1.2;
  padding-left: 0;
}

.listing-price-container {
  padding-left: 50px;
  line-height: 1.0;
}

.listing-edit-button {
  background-color: #00c0f3;
  color: white;
  padding: 0px 20px 0 px 20px;
  border: collapse;
  border-radius: 5px; 
}

.listing-see-details {
  color: #00c0f3;
  background-color: white;
  padding: 0px 20px 0 px 20px;
  border: solid 2px #00c0f3;
  border-radius: 5px;
}

.listing-delete-button {
  color: #ff6e69;
  background-color: white;
  padding: 0px 20px 0 px 20px;
  border: solid 2px #ff6e69;
  border-radius: 5px;
}