@import 'variables';

.listing-container {
  border-top: solid 1px $gray;
}

.listing-description-container {
  border-right: solid 1px $gray;
}


.listing-price-container, .details-container {
  line-height: 1.0;
}