@import 'variables';

.listing-container {
  border-top: solid 1px $gray;
}

.listing-edit-button, .listing-see-details, .listing-delete-button {
  padding: 0rem 1rem 0rem 1rem;
}

.listing-description-container {
  border-right: solid 1px $gray;
  line-height: 1.2;
}

.listing-price-container {
  line-height: 1.0;
}