@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
  font-family: "Montserrat", serif !important;
}

.text-small {
  font-size: $font-small;
}

.text-medium {
  font-size: $font-medium;
}

.text-large {
  font-size: $font-large;
}

.text-huge {
  font-size: $font-huge;
}

.text-black {
  color: $primary-font;
}

@media (max-width: 576px) {
  .text-small {
    font-size: $font-extra-small;
  }

  .text-medium {
    font-size: $font-small;
  }

  .text-large {
    font-size: $font-not-quite-large;
  }

  .text-huge {
    font-size: $font-not-so-huge;
  }
}

.text-darkgray {
  color: $darkgray
}

.text-gray {
  color: $gray
}

.text-white, .white-button, .white-button:hover  {
  color: $secondary-font;
}

.text-blue, .button-blue, .button-blue:hover {
  color: $secondary-color;
}

.text-red, .delete-button, .delete-button:hover {
  color: $primary-color;
}

.listing-button:hover{
  text-decoration: none !important;
}
