@import "bootstrap/functions";
@import "bootstrap/variables";

$footer-height: 60px;
$environment-notice-height: 2rem;

$primary-background: #fcfcfc;
$secondary-background: #f6f6f6;
$tertiary-background: #444444;

$primary-font: #000000;
$secondary-font: #fcfcfc;

$primary-color: #ff6e69;
$secondary-color: #00c8f8;

$higlight-color: #66ff33;

$green: #23c023;
$gold: #ffc957;
$gray: #d6d6d6;
$darkgray: #666666;

$font-extra-small: 12px;
$font-small: 14px;
$font-medium: 18px;
$font-not-quite-large: 24px;
$font-large: 36px;
$font-not-so-huge: 100px;
$font-huge: 150px;