.row.justify-content-left.flex-column-reverse.flex-md-row.reported-item
  .col-12.col-md-12.listing-container
    .border-none.rounded.h-100
      .row.p-0
        .col-12.col-sm-3.pl-0.text-left.listing-image-container-sm.text-black.text-large.pt-1
          =image_tag "/images/logos/su.png"

        .row.justify-content-left.flex-column-rev.flex-md-row
          .col-12.col-md-12.pl-0.text-left.pt-2
            .col-12.col-md-12.pl-0
              .text-left.pt-1.report-container
                %pre{:class => 'text-black text-small font-main'} Item Name  acc19pm

            .col-12.col-md-6.pl-0.text-left  
              .pt-0.report-container
                %pre{:class => 'text-darkgray text-small font-main'}Reason: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.

        .col-12.col-sm-3.p-0.pt-3
          .text-small.text-center.text-blue.listing-blue.rounded
            See Details
          %p
          .text-small.text-center.btn-primary.rounded.text-white
            Moderate 
          