.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-6
    %h2 Reported Items
    .reported-items
      - 20.times do
        =render 'reported_items'

  .col-12.col-md-6
    %h2 Reported Messages
    .reported-items
      - 20.times do
        =render 'reported_items'