.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-6
    %h2 Reported Items
    .reported-items
      =render partial: 'reported_items', collection: @listing_reports, as: :report

  .col-12.col-md-6
    %h2 Reported Messages
    .reported-items
      =render partial: 'reported_items', collection: @listing_messages, as: :report