.row.justify-content-center.flex-column-reverse.flex-md-row
  .col-12.col-md-6
    %h2 Reported Items
    - if @listing_reports.empty?
      .jumbotron.text-center
        %h4
          %strong There are no reported items...
    - else
      .reported-items
        =render partial: 'reported_items', collection: @listing_reports, as: :report

  .col-12.col-md-6
    %h2 Reported Messages
    - if @message_reports.empty?
      .jumbotron.text-center
        %h4
          %strong There are no reported messages...
    - else
      .reported-items
        =render partial: 'reported_items', collection: @message_reports, as: :report